$white: #FFF;
$black: #000;

$borderBlueColor: #00ADC2;
$myMessageColor: #81DFEB;
$otherPersonMessageColor: #73778B;
$cancelButtonColor: #FF414F;
$saveButtonColor: #00FA9A;

$textLightGrayColor: #CCC;