@import '../../styles/variables.scss';

.message {
  position: relative;
  width: 500px;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    bottom: -10px;
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 8px;
    background: $borderBlueColor;
  }
}

.textArea {
  height: 50px;
  max-height: 150px;

  &:focus {
    outline: none;
  }

  &:empty:before {
    content: 'Enter your message here :)';
    font-size: .8em;
    color: $textLightGrayColor;
    pointer-events: none;
  }
}

.sendButton {
  padding: 10px 15px;
  background: transparent;
  border: 1px solid $borderBlueColor;
  color: $borderBlueColor;
  text-transform: uppercase;
  cursor: pointer;
}