@import '../../styles/variables.scss';

.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding: 20px 0;
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 200px;
  text-align: center;
  background: $white;
}
  
.modalWrapper {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.nameInput {
  border: 0;
  outline: none;
  border-bottom: 3px solid $borderBlueColor;
  font-size: 25px;
  text-align: center;
}

.saveButton {
  background: $borderBlueColor;
  color: $white;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}