@import '../../styles/variables.scss';

.messageContainer {
  width: 40%;
}

.myMessageContainer {
  composes: messageContainer;
  align-self: flex-end;
}

.otherPersonMessageContainer {
  composes: messageContainer;
}

.message {
  position: relative;
  padding: 10px 40px 10px 30px;
  border-radius: 20px;
  color: white;
  white-space: pre;
}

.myMessage {
  composes: message;
  background: $myMessageColor;
}

.otherPersonMessage {
  composes: message;
  background: $otherPersonMessageColor;
}

.editableMessage {
  background: rgba(225, 225, 225, .6);

  &:focus {
    outline: none;
  }
}

.additionalInfo {
  padding: 0 30px;
  font-size: .8em;
  color: $textLightGrayColor;
}

.author {
  composes: additionalInfo;
  margin-bottom: 0;
}

.time {
  composes: additionalInfo;
  margin-top: 5px;
}